*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}




:root{

    --green-main:#2e7d32;
    --green-dark:#1b5e20;
    --green-light:#66bb6a;

    --bg:#ffffff;
    --bg-soft:#f3f8f2;

    --text:#1f2937;
    --text-light:#64748b;

    --border:#dbe7d8;

    --shadow:0 15px 40px rgba(0,0,0,.08);

}

.hero{

height:100vh;

overflow:hidden;

}



.carousel,
.carousel-inner,
.carousel-item{

height:100%;

}



.carousel-item img{

height:100%;

object-fit:cover;

}



.hero-overlay{

position:absolute;

inset:0;


background:linear-gradient(

90deg,

rgba(255,255,255,.92),

rgba(255,255,255,.35)

);


}





.carousel-caption{


position:absolute;

top:50%;

left:10%;

transform:translateY(-50%);


right:auto;

text-align:left;


max-width:650px;


}



.carousel-caption h1{


font-size:72px;

font-weight:800;

color:#1b5e20;


}



.carousel-caption p{


font-size:20px;

color:#64748b;

margin-bottom:30px;


}



.carousel-indicators button{


background:#2e7d32;


}




@media(max-width:768px){


.carousel-caption h1{

font-size:38px;

}


.carousel-caption{

left:5%;

}

}
